<nxs:DATA
	xmlns:nxs="http://xsd.nexuschile.cl/Prepaid/ActivateCard/Req-v2017.10"
	xmlns:tns="http://xsd.nexuschile.cl/Common/Resources/Schema/Restrictions/v2017.10"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://xsd.nexuschile.cl/Prepaid/ActivateCard/Req-v2017.10 ActivateCard_Req.xsd ">	
	<nxs:BankCode>${body.data.bankCode}</nxs:BankCode>
	#if (${body.data.reasonCode}) 
		<nxs:ReasonCode>${body.data.reasonCode}</nxs:ReasonCode>
	#end
	#if (${body.data.reason}) 
		<nxs:Reason>${body.data.reason}</nxs:Reason>
	#end
	<nxs:ContractIdentifier>${body.data.contractIdentifier}</nxs:ContractIdentifier>
	#if (${body.data.cardSequenceNumber}) 
		<nxs:CardSequenceNumber>${body.data.CardSequenceNumber}</nxs:CardSequenceNumber>
	#end
	<nxs:ApplRegNumber>${body.data.applRegNumber}</nxs:ApplRegNumber>
	#if (${body.data.applicationSource}) 
		<nxs:ApplicationSource>${body.data.applicationSource}</nxs:ApplicationSource>
	#end
	<nxs:UserInfo>${body.data.userInfo}</nxs:UserInfo>
</nxs:DATA>
