<req:DATA
	xmlns:req="http://xsd.nexuschile.cl/Prepaid/CreateClient/Req-v2017.10"
	xmlns:tns="http://xsd.nexuschile.cl/Common/Resources/Schema/Restrictions/v2017.10"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://xsd.nexuschile.cl/Prepaid/CreateClient/Req-v2017.10 CreateClient_Req.xsd ">	
         <req:BankCode>${body.data.bankCode}</req:BankCode>   
         #if (${body.data.reasonCode})               
         <req:ReasonCode>${body.data.reasonCode}</req:ReasonCode>
         #end
         #if (${body.data.reason})  
         <req:Reason>${body.data.reason}</req:Reason>
         #end
         <req:ApplRegNumber>${body.data.applRegNumber}</req:ApplRegNumber>
         #if (${body.data.applicationSource})  
         <req:ApplicationSource>${body.data.applicationSource}</req:ApplicationSource>
         #end
         <req:ClientTypeCode>${body.data.clientTypeCode}</req:ClientTypeCode>
         #if (${body.data.languageCode})  
         <req:LanguageCode>${body.data.languageCode}</req:LanguageCode>
         #end
         <req:MaritalStatusCode>${body.data.maritalStatusCode}</req:MaritalStatusCode>
         #if (${body.data.salutationCode})  
         <req:SalutationCode>${body.data.salutationCode}</req:SalutationCode>
         #end
         <req:Branch>${body.data.branch}</req:Branch>
         #if (${body.data.serviceGroup})  
	     <req:ServiceGroup>${body.data.serviceGroup}</req:ServiceGroup>
	     #end
	     #if (${body.data.shortName}) 
         <req:ShortName>${body.data.shortName}</req:ShortName>
         #end
         <req:Gender>${body.data.gender}</req:Gender>
         <req:FirstName>${body.data.firstName}</req:FirstName> 
         #if (${body.data.middleName})         
         <req:MiddleName>${body.data.middleName}</req:MiddleName>    
         #end    
         <req:LastName>${body.data.lastName}</req:LastName>
         <req:BirthDate>${body.data.birthDate}</req:BirthDate>      
         #if (${body.data.birthPlace})        
         <req:BirthPlace>${body.data.birthPlace}</req:BirthPlace>
         #end 
         #if (${body.data.birthName})        
         <req:BirthName>${body.data.birthName}</req:BirthName>        
         #end 
         #if (${body.data.citizenship})   
         <req:Citizenship>${body.data.citizenship}</req:Citizenship>
         #end 
         #if (${body.data.taxBracket})    
         <req:TaxBracket>${body.data.taxBracket}</req:TaxBracket>
         #end  
         #if (${body.data.individualTaxpayerNumber}) 
         <req:IndividualTaxpayerNumber>${body.data.individualTaxpayerNumber}</req:IndividualTaxpayerNumber>
         #end
         #if (${body.data.companyName})    
         <req:CompanyName>${body.data.companyName}</req:CompanyName>
         #end
         #if (${body.data.trademark})   
         <req:Trademark>${body.data.trademark}</req:Trademark>
         #end 
         #if (${body.data.department}) 
         <req:Department>${body.data.department}</req:Department>
         #end 
         #if (${body.data.position}) 
         <req:Position>${body.data.position}</req:Position>   
         #end     
         #if (${body.data.identityCardNumber}) 
         <req:IdentityCardNumber>${body.data.identityCardNumber}</req:IdentityCardNumber>
         #end  
         #if (${body.data.identityCardDetails})  
         <req:IdentityCardDetails>${body.data.identityCardDetails}</req:IdentityCardDetails>
         #end  
         #if (${body.data.clientNumber})  
         <req:ClientNumber>${body.data.clientNumber}</req:ClientNumber>
         #end
         #if (${body.data.secretPhrase})  
         <req:SecretPhrase>${body.data.secretPhrase}</req:SecretPhrase>
         #end
         #if (${body.data.addInfo01})  
         <req:AddInfo01>${body.data.addInfo01}</req:AddInfo01>
         #end
         #if (${body.data.addInfo02}) 
         <req:AddInfo02>${body.data.addInfo02}</req:AddInfo02>
         #end
         #if (${body.data.addInfo03}) 
         <req:AddInfo03>${body.data.addInfo03}</req:AddInfo03>
         #end
         #if (${body.data.addInfo04}) 
         <req:AddInfo04>${body.data.addInfo04}</req:AddInfo04>
         #end
         #if (${body.data.addDate01}) 
         <req:AddDate01>${body.data.addDate01}</req:AddDate01>
         #end
         #if (${body.data.addDate02}) 
         <req:AddDate02>${body.data.addDate02}</req:AddDate02>
         #end 
         <req:UserInfo>${body.data.userInfo}</req:UserInfo>	
</req:DATA>