<req:DATA
	xmlns:req="http://xsd.nexuschile.cl/Prepaid/GetAddresses/Req-v2017.10"
	xmlns:tns="http://xsd.nexuschile.cl/Common/Resources/Schema/Restrictions/v2017.10"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://xsd.nexuschile.cl/Prepaid/GetAddresses/Req-v2017.10 GetAddresses_Req.xsd ">		
	    <req:BankCode>${body.data.bankCode}</req:BankCode>
	    <!--Optional:-->
	    <req:ClientIdentifier>${body.data.clientIdentifier}</req:ClientIdentifier>
	    <req:ClientSearchCategory>{body.data.clientSearchCategory}</req:ClientSearchCategory>
	    <!--Optional:-->
	    <req:ContractIdentifier>${body.data.contractIdentifier}</req:ContractIdentifier>
	    <!--Optional:-->
	    <req:ContractRelation>${body.data.contractRelation}</req:ContractRelation>
	    <req:UserInfo>${body.data.userInfo}</req:UserInfo>
 </req:DATA>