<req:DATA xmlns:req="http://xsd.nexuschile.cl/Credit/NamelessCardAssignment/Req-v2017.10"
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xsi:schemaLocation="http://xsd.nexuschile.cl/Credit/NamelessCardAssignment/Req-v2017.10 NamelessCardAssignment_Req.xsd">
     <req:BankCode>${body.data.bankCode}</req:BankCode>
      #if (${body.data.reason}) 
     	<!--Optional:-->
     	<req:Reason>${body.data.reason}</req:Reason>
     #end
     <req:CardNumber>${body.data.cardNumber}</req:CardNumber>
     <req:IdentityCardNumber>${body.data.identityCardNumber}</req:IdentityCardNumber>
     <req:ContractNumber>${body.data.contractNumber}</req:ContractNumber>
     <req:EmbossedFirstName>${body.data.embossedFirstName}</req:EmbossedFirstName>
     <req:EmbossedLastName>${body.data.embossedLastName}</req:EmbossedLastName>
     <req:UserInfo>${body.data.userInfo}</req:UserInfo>
  </req:DATA>