   <req:ReissueCardReq
	xmlns:req="http://xsd.nexuschile.cl/Prepaid/ReissueCard/Req-v2017.10"	
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://xsd.nexuschile.cl/Prepaid/ReissueCard/Req-v2017.10 ReissueCard_Req.xsd ">
     <req:Data>
        <req:BankCode>${body.reissueCardReq.data.bankCode}</req:BankCode>
        <req:CardNumber>${body.reissueCardReq.data.cardNumber}</req:CardNumber>
         #if (${body.reissueCardReq.data.currSequenceNumber}) 
        	<!--Optional:-->
        	<req:CurrSequenceNumber>${body.reissueCardReq.data.currSequenceNumber}</req:CurrSequenceNumber>
        #end
        <req:ProductionReason>${body.reissueCardReq.data.productionReason}</req:ProductionReason>
        #if (${body.reissueCardReq.data.reason}) 
        	<!--Optional:-->
        	<req:Reason>${body.reissueCardReq.data.reason}</req:Reason>
        #end
        <req:ApplRegNumber>${body.reissueCardReq.data.applRegNumber}</req:ApplRegNumber>
        <req:UserInfo>${body.reissueCardReq.data.userInfo}</req:UserInfo>
     </req:Data>
  </req:ReissueCardReq>